<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.signity.shopkeeperapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--<permission
        android:name="com.signity.shopkeeperapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.signity.shopkeeperapp.permission.C2D_MESSAGE" />-->


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".book.TypeFragment.AddAddressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.signity.shopkeeperapp.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />

        <activity
            android:name=".login.MobileLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".orders.DueOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.categories.AddCategories"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.orders.OrderDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orders.DueOrderActivityWithoutUpdations"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.CustomerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rejected_orders.RejectedItemsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".canceled_orders.CanceledOrdersItemsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".enquiries.EnquiriesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manage_stores.ManageStaffActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageVolume.ManageVolumeActivity"
            android:label="@string/title_activity_manage_volume"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.LocalNotifyReceiver" />

        <activity
            android:name=".LogInModule.LogInOptionsActivity"
            android:label="@string/title_activity_log_in_options"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInModule.LogInWithEmailActivity"
            android:label="@string/title_activity_log_in_with_email"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInModule.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.StoreSettingActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".stores.StoresActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".categories.AddCategoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".products.AddProductActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".notifications.NotificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.yalantis.ucrop.UCropActivity" />
        <activity
            android:name=".products.VariantActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".customers.CustomersActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".customers.CustomerDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".customers.AddCustomerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".book.BookOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.signity.shopkeeperapp.bookorder"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".book.BookOrderTypeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".book.BookOrderCheckoutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".book.CouponsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".book.LoyaltyPointsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".market.MarketActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".market.CreativeDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".market.ShareCreativeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".market.FilterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".twilio.chat.CustomerSupportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>
